---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Photo from "../components/Photo.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const photos = (await getCollection("photos")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main style="width: 75%;">
      <section class="artworks">
        {
          photos.map((photo) => (
            <Photo
              title={photo.data.title}
              date={photo.data.pubDate}
              camera={photo.data.camera}
              lens={photo.data.lens}
              iso={photo.data.iso}
              focal={photo.data.focal}
              shutter={photo.data.shutter}
              aperture={photo.data.aperture}
              image={photo.data.image}
              colour="#facbe0"
            />
          ))
        }
      </section>
    </main>
    <Footer />
    <script src="../scripts/artinfo.js"></script>
  </body>
</html>
