---
import "../styles/global.css";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  date: Date;
  image: ImageMetadata;
  colour: string;
  link: string;
}

const { title, date, description, image, colour, link } = Astro.props;
---

<article class="art-piece">
  <div class="art-piece-image d-block mb-2">
    <Image src={image} alt={title} loading="lazy" decoding="async" />
  </div>

  <div
    class="art-piece-info d-block mb-2"
    style={`background-color: ${colour};`}
  >
    <div class="fit-text">
      <h4>{title}</h4>
      <p>
        {
          date.toLocaleDateString("en-GB", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </p>
      <p>{description}</p>
      <a class="btn btn-primary" href={link}>Read More...</a>>
    </div>
  </div>
</article>
