---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, images } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em 3em;
        margin-top: 3em;
        width: 85%;
        background-color: #fdf6e3;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div
          id="projectCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
          data-bs-interval="2500"
        >
          <div class="carousel-inner p-5">
            {
              images &&
                images.map((image, i) => (
                  <div class={`carousel-item ${i === 0 ? "active" : ""}`}>
                    <Image src={image} alt={title} width={720} height={360} />
                  </div>
                ))
            }
          </div>

          <div class="carousel-indicators">
            {
              images &&
                images.map((_, i) => (
                  <button
                    type="button"
                    data-bs-target="#projectCarousel"
                    data-bs-slide-to={i}
                    class={`carousel-button ${i === 0 ? "active" : ""}`}
                    aria-label={`Slide ${i + 1}`}
                  />
                ))
            }
          </div>
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
